In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
import warnings
warnings.simplefilter('ignore')

In [3]:
titanic_train = pd.read_csv('train.csv')
titanic_test = pd.read_csv('test.csv')

In [4]:
titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# X_train['Cabin'] = X_train['Cabin'].fillna(0)
titanic_train['Cabin'] = titanic_train['Cabin'].notnull().astype('int')
# X_train['Cabin'] = X_train['Cabin'].fillna(0)
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,1,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,1,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S

In [7]:
titanic_train['Embarked'] = titanic_train['Embarked'].fillna('S')
titanic_train['Embarked'] = titanic_train['Embarked'].map({'S':0, 'C':1, 'Q':2})

In [8]:
titanic_train = pd.get_dummies(titanic_train, columns=["Sex"])
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,0,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,1,1,1,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,0,0,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,1,0,1,0
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,0,0,0,1

In [9]:
titanic_train = titanic_train.dropna(how='any')
titanic_train.head()
len(titanic_train)

714

In [10]:
X_final = titanic_train.drop(["Survived", "Ticket", "Name"], axis=1)
y_final = titanic_train["Survived"].values.reshape(-1, 1)
print(X_final.shape, y_final.shape)

(714, 10) (714, 1)

In [11]:
len(y_final)

714

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, random_state=1, stratify=y_final)

In [26]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [27]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [28]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.811214953271028
Testing Data Score: 0.7653631284916201

In [30]:
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [31]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [32]:
grid.fit(X_train, y_train)

Fitting 3 folds for each of 16 candidates, totalling 48 fits
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] ...... C=1, gamma=0.0001, score=0.7988826815642458, total=   3.3s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.3s remaining:    0.0s

[CV] ...... C=1, gamma=0.0001, score=0.7415730337078652, total=  15.2s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:   18.4s remaining:    0.0s

[CV] ....... C=1, gamma=0.0001, score=0.797752808988764, total=   6.0s
[CV] C=1, gamma=0.0005 ...............................................
[CV] ...... C=1, gamma=0.0005, score=0.7988826815642458, total=   3.3s
[CV] C=1, gamma=0.0005 ...............................................
[CV] ...... C=1, gamma=0.0005, score=0.7415730337078652, total=  14.8s
[CV] C=1, gamma=0.0005 ...............................................
[CV] ....... C=1, gamma=0.0005, score=0.797752808988764, total=   6.0s
[CV] C=1, gamma=0.001 ................................................
[CV] ....... C=1, gamma=0.001, score=0.7988826815642458, total=   3.5s
[CV] C=1, gamma=0.001 ................................................
[CV] ....... C=1, gamma=0.001, score=0.7415730337078652, total=  15.9s
[CV] C=1, gamma=0.001 ................................................
[CV] ........ C=1, gamma=0.001, score=0.797752808988764, total=   6.3s
[CV] C=1, gamma=0.005 ................................................
[CV] ....... C=1, gamma=0.005, score=0.7988826815642458, total=   3.7s
[CV] C=1, gamma=0.005 ................................................
[CV] ....... C=1, gamma=0.005, score=0.7415730337078652, total=  15.3s
[CV] C=1, gamma=0.005 ................................................
[CV] ........ C=1, gamma=0.005, score=0.797752808988764, total=   6.2s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ...... C=5, gamma=0.0001, score=0.8044692737430168, total=   8.8s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ...... C=5, gamma=0.0001, score=0.7865168539325843, total=  25.0s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ...... C=5, gamma=0.0001, score=0.8089887640449438, total=  28.2s
[CV] C=5, gamma=0.0005 ...............................................
[CV] ...... C=5, gamma=0.0005, score=0.8044692737430168, total=   8.1s
[CV] C=5, gamma=0.0005 ...............................................
[CV] ...... C=5, gamma=0.0005, score=0.7865168539325843, total=  22.4s
[CV] C=5, gamma=0.0005 ...............................................
[CV] ...... C=5, gamma=0.0005, score=0.8089887640449438, total=  28.7s
[CV] C=5, gamma=0.001 ................................................
[CV] ....... C=5, gamma=0.001, score=0.8044692737430168, total=   8.5s
[CV] C=5, gamma=0.001 ................................................
[CV] ....... C=5, gamma=0.001, score=0.7865168539325843, total=  22.7s
[CV] C=5, gamma=0.001 ................................................
[CV] ....... C=5, gamma=0.001, score=0.8089887640449438, total=  28.5s
[CV] C=5, gamma=0.005 ................................................
[CV] ....... C=5, gamma=0.005, score=0.8044692737430168, total=   8.1s
[CV] C=5, gamma=0.005 ................................................
[CV] ....... C=5, gamma=0.005, score=0.7865168539325843, total=  23.3s
[CV] C=5, gamma=0.005 ................................................
[CV] ....... C=5, gamma=0.005, score=0.8089887640449438, total=  30.5s
[CV] C=10, gamma=0.0001 ..............................................
[CV] ..... C=10, gamma=0.0001, score=0.8100558659217877, total=  33.3s
[CV] C=10, gamma=0.0001 ..............................................
[CV] ..... C=10, gamma=0.0001, score=0.7921348314606742, total=  16.4s
[CV] C=10, gamma=0.0001 ..............................................
[CV] ..... C=10, gamma=0.0001, score=0.8202247191011236, total=  26.3s
[CV] C=10, gamma=0.0005 ..............................................
[CV] ..... C=10, gamma=0.0005, score=0.8100558659217877, total=  38.2s
[CV] C=10, gamma=0.0005 ..............................................
[CV] ..... C=10, gamma=0.0005, score=0.7921348314606742, total=  17.1s
[CV] C=10, gamma=0.0005 ..............................................
[CV] ..... C=10, gamma=0.0005, score=0.8202247191011236, total=  26.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ...... C=10, gamma=0.001, score=0.8100558659217877, total=  36.7s
[CV] C=10, gamma=0.001 ...............................................
[CV] ...... C=10, gamma=0.001, score=0.7921348314606742, total=  16.5s
[CV] C=10, gamma=0.001 ...............................................
[CV] ...... C=10, gamma=0.001, score=0.8202247191011236, total=  25.1s
[CV] C=10, gamma=0.005 ...............................................
[CV] ...... C=10, gamma=0.005, score=0.8100558659217877, total=  34.7s
[CV] C=10, gamma=0.005 ...............................................
[CV] ...... C=10, gamma=0.005, score=0.7921348314606742, total=  16.4s
[CV] C=10, gamma=0.005 ...............................................
[CV] ...... C=10, gamma=0.005, score=0.8202247191011236, total=  23.4s
[CV] C=50, gamma=0.0001 ..............................................
[CV] ..... C=50, gamma=0.0001, score=0.7821229050279329, total=  35.4s
[CV] C=50, gamma=0.0001 ..............................................
[CV] ..... C=50, gamma=0.0001, score=0.7921348314606742, total=  17.1s
[CV] C=50, gamma=0.0001 ..............................................
[CV] ..... C=50, gamma=0.0001, score=0.7808988764044944, total= 1.4min
[CV] C=50, gamma=0.0005 ..............................................
[CV] ..... C=50, gamma=0.0005, score=0.7821229050279329, total=  34.4s
[CV] C=50, gamma=0.0005 ..............................................
[CV] ..... C=50, gamma=0.0005, score=0.7921348314606742, total=  16.4s
[CV] C=50, gamma=0.0005 ..............................................
[CV] ..... C=50, gamma=0.0005, score=0.7808988764044944, total= 1.4min
[CV] C=50, gamma=0.001 ...............................................
[CV] ...... C=50, gamma=0.001, score=0.7821229050279329, total=  36.1s
[CV] C=50, gamma=0.001 ...............................................
[CV] ...... C=50, gamma=0.001, score=0.7921348314606742, total=  16.9s
[CV] C=50, gamma=0.001 ...............................................
[CV] ...... C=50, gamma=0.001, score=0.7808988764044944, total= 1.4min
[CV] C=50, gamma=0.005 ...............................................
[CV] ...... C=50, gamma=0.005, score=0.7821229050279329, total=  32.5s
[CV] C=50, gamma=0.005 ...............................................
[CV] ...... C=50, gamma=0.005, score=0.7921348314606742, total=  16.4s
[CV] C=50, gamma=0.005 ...............................................
[CV] ...... C=50, gamma=0.005, score=0.7808988764044944, total= 1.5min

[Parallel(n_jobs=1)]: Done  48 out of  48 | elapsed: 20.0min finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': [1, 5, 10, 50], 'gamma': [0.0001, 0.0005, 0.001, 0.005]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [33]:
print(grid.best_params_)

{'C': 10, 'gamma': 0.0001}

In [34]:
print(grid.best_score_)

0.8074766355140187